body {
  background: blanchedalmond;
}
.container {
  max-width: 600px;
  margin: 120px auto;
}
header {
  margin-bottom: 20px;
}
h1 {
  font-size: 50px;
  font-family: monospace;
}
form {
  display: flex;
}
.instructions {
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: solid gray;
  font-family: monospace;
  box-shadow: none;
}
.submit-button {
  padding: 15px;
  border-radius: 30px;
  border: none;
  color: white;
  background: salmon;
  font-size: 15px;
}
.recipe {
  background-color: white;
  margin-top: 10px;
  color: black;
  padding: 20px;
  border-radius: 10px;
}
footer {
  font-family: monospace;
  margin-top: 10px;
}
a {
  color: salmon;
}

.form-container {
  padding: 10px 15px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.hint {
  opacity: 0.6;
  margin-top: 5px;
  line-height: 1.5;
}
.hidden {
  display: none;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
